<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.example.scavengerhunt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartingDescriptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrentClueActivity" />
        <activity android:name=".FoundClueActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="scavengerhunt.example.udacity.com"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>
        <activity android:name=".WinActivity"></activity>


        <!--
        <uses-sdk android:minSDKVersion="10"/>
        <uses-permission android:name="android.hardware.NFC"/>
        <uses-feature android:name="android.hardware.nfc"/>

        <intent-filter>
            <action android:name="android.nfc.action.NDFE_DISCOVER"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="void.android.nfc"
                android:hosts="scavengerhunt.example.udacity.com"/>
        </intent-filter>
        -->

    </application>

</manifest>